@media screen and (max-width : 700px ) {
   

    nav{
        flex-direction: column;
    }
    
    .logo{
        justify-content: center;
        margin: 0px 0px;
    }

    nav ul{
        justify-content: center;
        height: 24px;
        margin: 4px 0px;
    }

    .search{
        justify-content: center;
    }

    .search input{
        margin: 0;
    }

    .slider{
        height: 24vh;
    }

    .footer{
        height: 5vh;
    }
}