* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: black;
}


header {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
}

nav{
  display: flex;
}

.logo{
  display: flex;
  align-items: center;
  height: 58px;
}

nav ul{
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}


nav ul li{
  list-style: none;
  padding: 1vh;
}


nav ul li a{
  color: white;
  text-decoration: none;
  
}

nav ul li a:hover {
  color: blue;
  font-weight: 900;
}

.search{
  display: flex;
  align-items: center;
}

.search input{
  height: 23px;
  width: 493px;
  margin: 0px 0px 0px 100px;
  border-radius: 4px;
  padding: 0px 12px;
  
}

main .container {
  min-height: calc(100vh - 58px - 8vh);
}

.slider {
  margin: 12px 0;;
  display: flex;
  justify-content: center;
}

.card h2{
  font-family: "Roboto", sans-serif;
  margin: 0px 12px;
}

.cards{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 20px;
}

.card-item{
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.lines{
  font-family: "Roboto", sans-serif;
}




.footer {
  background-color: var(--main-bg-color);
  color: white;
  height: 8vh;
  font-family: "Roboto", sans-serif;
}
