:root {
    --main-bg-color: black;
  }


.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 18px 21px;
  height: 23px;
  padding: 2px;
  border-radius: 4px;
  color: white;
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
}


.my-2{
  margin: 22px 0px;
}

.text-center{
  text-align: center;
}